<html>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="static/logo_favicon.ico">
    <head>
        <style>
            button{
            display: block;
            margin: 0 auto;
            font-family: "Allan", sans-serif;
        }
        </style>
    </head>

    <body>
        <section class="text-gray-600 body-font">
            <div  class="h-screen flex items-center justify-center">
                <form action="{{ url_for('recipe') }}" method="GET">
                <button type="submit" class="bg-yellow-900 text-white hover:bg-blue-400 font-bold py-2 px-4 mt-3 rounded font-Allan">Start</button>
                </form>
            </div>
          </section>
      </body>
</html>